@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .disabled-style {
    @apply aria-disabled:cursor-not-allowed aria-disabled:bg-transparent aria-disabled:opacity-20 disabled:cursor-not-allowed disabled:opacity-20;
  }

  .button {
    @apply disabled-style;
  }

  .dropdown {
    @apply rounded bg-white p-1 shadow shadow-stone-700/30;
  }

  .dropdown-divider {
    @apply mx-2 my-1;
  }

  .dropdown-item {
    @apply disabled-style;

    @apply px-3 py-2 rounded;
    @apply flex cursor-pointer select-none items-baseline gap-2;

    &[aria-selected='true'] {
      background-color: theme('dropdown.selected.background' / theme('dropdown.selected.backgroundOpacity'));
      color: theme('dropdown.selected.text');
    }
    &:hover {
      background-color: theme('dropdown.hover.background' / theme('dropdown.hover.backgroundOpacity'));
      color: theme('dropdown.hover.text');
    }
  }

  .checkbox {
    @apply disabled-style;

    & > .icon {
      color: theme('checkbox.active.icon');
    }

    &:hover > .icon {
      background-color: theme('checkbox.hover.background' / theme('checkbox.hover.backgroundOpacity'));
      color: theme('checkbox.hover.icon');
    }
  }

  .tag {
    @apply rounded-full text-xs px-1.5 py-0.5;

    --text-color: theme('tag.text');
    --background-color: theme('tag.background');

    color: var(--text-color);
    background-color: var(--background-color);
  }

  .badge {
    @apply rounded text-xs;

    --title-text-color: theme('badge.title.text');
    --title-text-shadow-color: theme('badge.title.text' / 25%);
    --title-background-color: theme('badge.title.background');
    --value-text-color: theme('badge.value.text');
    --value-text-shadow-color: theme('badge.value.text' / 25%);
    --value-background-color: theme('badge.value.background');

    .title {
      color: var(--title-text-color);
      background-color: var(--title-background-color);

      @apply px-1 py-0.5;
      text-shadow: 1px 1px var(--title-text-shadow-color);;
    }
    .value {
      color: var(--value-text-color);
      background-color: var(--value-background-color);

      @apply px-1 py-0.5;
      text-shadow: 1px 1px var(--value-text-shadow-color);
    }
  }

  .box {
    @apply rounded mt-1 p-2;
  }
}
