@import "tailwindcss";
@import "tailwindcss/theme";
@import "./theme.css";

.hover-style {
  position: relative;

  &:not([aria-disabled='true'], :disabled, [aria-busy='true']) {
    &[aria-selected='true']:before, &:hover:before {
      content: '';
      display: block;
      position: absolute;
      inset: 0;
      z-index: 9999;

      background-color: rgba(0, 0, 0, 5%);
    }
    &:active:before {
      content: '';
      display: block;
      position: absolute;
      inset: 0;
      z-index: 9999;

      background-color: rgba(0, 0, 0, 10%);
    }
  }
}

.disabled-style[aria-disabled='true'], .disabled-style:disabled {
  position: relative;

  cursor: not-allowed !important;

  &:before {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    z-index: 9999;

    backdrop-filter: saturate(0);
    background-color: rgba(255, 255, 255, 60%);
  }
}
