@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&display=swap');

@layer components {
  .app-hoverable {
    @apply hover:bg-slate-200 aria-disabled:cursor-not-allowed
      aria-disabled:bg-transparent aria-disabled:opacity-20;
  }
  .app-hoverable-invert {
    @apply hover:bg-slate-200 hover:text-stone-800;
  }
  .app-border {
    @apply border-slate-300;
  }
  .app-border-active {
    @apply border-slate-600;
  }
  .app-border-focus {
    @apply focus:border-slate-600;
  }
  .app-component-font {
    font-family: 'BIZ UDPGothic', sans-serif;
  }

  .app-button {
    @apply app-hoverable app-border select-none rounded-lg border px-4 py-2 no-underline
      hover:bg-slate-200 active:bg-slate-300 disabled:cursor-not-allowed disabled:text-slate-200;
  }
  .app-button-small {
    @apply py-1.5 text-sm;
  }
  .app-button-primary {
    @apply bg-primary text-white hover:bg-primary disabled:bg-primary-disabled;
  }

  .app-search-box {
    @apply app-border rounded-lg border py-1.5 text-sm focus-within:border-primary;
  }

  .button-danger,
  .app-button-danger {
    @apply app-button border-red-600 bg-red-500 text-white hover:border-red-700 hover:bg-red-600 active:border-red-700 active:bg-red-600 disabled:border-red-200 disabled:bg-red-200 disabled:text-white;
  }

  .text-border {
    // https://stackoverflow.com/a/69196391
    text-shadow:
      1px 0px 0 var(--text-border-color),
      0.6234898018587336px 0.7818314824680298px 0 var(--text-border-color),
      -0.22252093395631434px 0.9749279121818236px 0 var(--text-border-color),
      -0.900968867902419px 0.43388373911755823px 0 var(--text-border-color),
      -0.9009688679024191px -0.433883739117558px 0 var(--text-border-color),
      -0.2225209339563146px -0.9749279121818236px 0 var(--text-border-color),
      0.6234898018587334px -0.7818314824680299px 0 var(--text-border-color);
  }
}
